*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
.idea/markdown-navigator.xml
